/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: inherit;

}

ul, ol, li{
    list-style: none;

}

/* Fim do Reset */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    height: 150px;
    width: 150px;
    background-color: white;
    

}

.logo img{
    width: 200px;
    height: 150px;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

main{
    flex-grow: 1;
    display: flex;

}

.conteudo{
    width: 50%;
    background-color: white;
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.conteudo h1{
    font-size: 80px;
    height: 90px;
}

.conteudo p{
    font-size: 45px;
}
.conteudo button{
    height: 64px;
    width: 300px;
    font-size: 32px;
    background-color: black;
    color: white;
}
.social{
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: lightgray;
}

.social-icon {
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 50%;
    font-size: 48px;
    color: #000;
}

.destaque{
    width: 45%;
    height: 500px;
    background-color: white;
    background-size: cover;
    background-position: center;
}
.destaque img{
    width: 100%;
    height: auto;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
